{% extends "base.html" %}

{% block title %} | Extension: {{ name }}{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="smaller"><a href="{% url 'geokey_checklist:index' %}">{{name}}</a></h1>
            </div>
        </div>

    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

  <div>
    <h3 class="header">Create new checklist item for {{category.name}}</h3>
      <form method="POST" action="{% url 'geokey_checklist:checklist_add_item' category.project.id category.id %}" novalidate>
        {% csrf_token %}

        <div class="form-group">
          <label for="checklistItemName" class="control-label">Name (required)</label>
          <input type="text" class="form-control input-lg" name="checklistItemName" maxlength="100"  required>
        </div>

        <div class="form-group">
          <table>
            <tr>
              <td>
                <label for="checklistItemQuantityFactor" class="control-label">Amount (required)</label>
              </td>
              <td class="col-md-3">
                <input type="number" class="form-control input-lg" name="checklistItemQuantityFactor" min="1" value="1"  required>
              </td>
              <td>
                <select class="form control input-lg" name="checklistItemPerType">
                  {% for value, label in perTypeChoices %}
                    <option value="{{value}}">{{label}}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
          </table>
        </div>

        <div class="form-group">
          <label for="checklistItemQuantityUnit" class="control-label">Unit</label>
          <input type="text" class="form-control input-lg" name="checklistItemQuantityUnit" maxlength="100">
        </div>

        <div class="form-group">
          <label for="checklistItemDescription" class="control-label">Description</label>
          <input type="text" class="form-control input-lg" name="checklistItemDescription" maxlength="100">
        </div>

        <div class="form-group">
          <label for="checklistItemURL" class="control-label">Item URL</label>
          <input type="text" class="form-control input-lg" name="checklistItemURL" maxlength="255">
        </div>

        <div class ="form-group">
          <label for="checklistItemExpiry" class="control-label">Expiry</label>
          <select class="form-control input-lg" name="checklistItemExpiry">
            {% for value, label in expiryFactorChoices %}
              <option value="{{value}}">{{label}}</option>
            {% endfor %}
          </select>
        </div>

        <div class ="form-group">
          <label for="checklistItemType" class="control-label">Item Type</label>
          <select class="form-control input-lg" name="checklistItemType">
            {% for value, label in itemTypeChoices %}
              <option value="{{value}}">{{label}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group text-center">
          <button type="submit" name="createChecklistItem" class="btn btn-primary">Create Checklist Item</button>
        </div>
    </form>

    <div class="text-center" style="margin-bottom:20px;">
      <a href="{% url 'geokey_checklist:index' category.id %}" name="checklist-cancel" class="btn btn-success btn-lg">Cancel</a>
    </div>

  </div>

</div>
{% endblock %}

{% block libraries %}

<script src="/static/js/admin.ui.forms.validate.js"></script>

{% endblock %}
