{% extends "base.html" %}

{% block title %} | Extension: {{ name }}{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="smaller"><a href="{% url 'geokey_checklist:index' %}">{{name}}</a></h1>
            </div>
        </div>

    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

  <div>
    <h3 class="header">Edit checklist {{category.name}}</h3>
      <form method="POST" action="{% url 'geokey_checklist:checklist_edit_checklist' category.project.id category.id %}" novalidate>
        {% csrf_token %}

        <div class="form-group">
          <label for="checklistName" class="control-label">Name (required)</label>
          <input type="text" class="form-control input-lg" name="checklistName" maxlength="100" value="{{category.name}}" required>
        </div>

        <div class="form-group">
          <label for="checklistDescription" class="control-label">Description</label>
          <input type="text" class="form-control input-lg" name="checklistDescription" maxlength="255" value="{{category.description}}">
        </div>

        <div id="map"></div>
        <div>Please click on the map to place a point to represent the location for the checklist. Should you make an error, simply click again on the map to place a new point in a new location.</div>

        <div class="form-group">
          <input type="hidden" class="form-control input-lg" name="checklistLat" maxlength="100" value="{{checklist.latitude}}" required>
        </div>

        <div class="form-group">
          <input type="hidden" class="form-control input-lg" name="checklistLng" maxlength="100" value="{{checklist.longitude}}" required>
        </div>

        <div class="form-group">
          <label for="checklistNumPeople" class="control-label">Number of Adults (required)</label>
          <input type="number" class="form-control input-lg" name="checklistNumPeople" min="0" value="{{checklist.numberofpeople}}" required>
        </div>

        <div class="form-group">
          <label for="checklistNumChildren" class="control-label">Number of Children (required)</label>
          <input type="number" class="form-control input-lg" name="checklistNumChildren" min="0" value="{{checklist.numberofchildren}}" required>
        </div>

        <div class="form-group">
          <label for="checklistNumToddlers" class="control-label">Number of Toddlers (required)</label>
          <input type="number" class="form-control input-lg" name="checklistNumToddlers" min="0" value="{{checklist.numberoftoddlers}}" required>
        </div>

        <div class="form-group">
          <label for="checklistNumInfants" class="control-label">Number of Infants (required)</label>
          <input type="number" class="form-control input-lg" name="checklistNumInfants" min="0" value="{{checklist.numberofinfants}}" required>
        </div>

        <div class="form-group">
          <label for="checklistNumPets" class="control-label">Number of Pets (required)</label>
          <input type="number" class="form-control input-lg" name="checklistNumPets" min="0" value="{{checklist.numberofpets}}" required>
        </div>

        <div class="form-group text-center">
          <button type="submit" name="editChecklist" class="btn btn-primary">Edit Checklist</button>
        </div>
    </form>

    <div class="text-center" style="margin-bottom:20px;">
      <a href="{% url 'geokey_checklist:index' category.id %}" name="checklist-cancel" class="btn btn-success btn-lg">Cancel</a>
    </div>

  </div>

</div>
{% endblock %}

{% block libraries %}
<script src="/static/js/admin.ui.checklist.edit_checklist.js"></script>
<script src="/static/js/admin.ui.forms.validate.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFF1W599lUkZLUgKtsLxwQw1uSqVZ_vOo&callback=initMap">
</script>
{% endblock %}
