{% extends "base.html" %}

{% block title %} | Extension: {{ name }}{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="smaller"><a href="{% url 'geokey_checklist:index' %}">{{name}}</a></h1>
            </div>
        </div>

    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div>
      <input type="hidden" name="checklist-project-id" value="{{project.id}}" />
      <table>
        <tr>
          <td class="text-left">
            <select name="checklists">
              {% for category in categories %}
                {% if category.name != "Fixit" %}
                  {% if category.id|slugify == checklist_id %}
                    <option value="{{category.id}}" selected>{{category.name}}</option>
                  {% else %}
                    <option value="{{category.id}}">{{category.name}}</option>
                  {% endif %}
                {% else %}
                  <option value="{{category.id}}">{{category.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <!--td>INFO</td-->
          <td class="col-md-1"><a href="" name="checklist-settings" class="btn btn-success btn-lg">Settings</a></td>
          <td class="col-md-1"><a href="" name="checklist-add-checklist-link" class="btn btn-success btn-lg">New</a></td>
          <td class="col-md-1"><a href="" name="checklist-edit-checklist-link" class="btn btn-success btn-lg">Edit</a></td>
          <td class="col-md-1"><a href="" name="checklist-delete-checklist-link" class="btn btn-success btn-lg">Delete</a></td>
        </tr>
      </table>
    </div>

    <div>
      <div name="checklist-descriptions">
        <div name="checklist-description-empty">Add a new checklist by clicking the New button</div>
        {% for category in categories %}
          <div name="checklist-description{{category.id}}"><p>{{category.description}}</p></div>
        {% endfor %}
      </div>

      <div name="checklist-items-expired-div" style="margin-bottom:20px;">
        <h4>EXPIRED</h4>
        <table name="checklist-items-expired" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-expiring-soon-div" style="margin-bottom:20px;">
        <h4>EXPIRING SOON</h4>
        <table name="checklist-items-expiring-soon" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-essential-div" style="margin-bottom:20px;">
        <h4>ESSENTIAL</h4>
        <table name="checklist-items-essential" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-useful-div" style="margin-bottom:20px;">
        <h4>USEFUL</h4>
        <table name="checklist-items-useful" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-personal-div" style="margin-bottom:20px;">
        <h4>PERSONAL</h4>
        <table name="checklist-items-personal" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-fixit-div" style="margin-bottom:20px;">
        <h4>FIX IT</h4>
        <table name="checklist-items-fixit" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-children-div" style="margin-bottom:20px;">
        <h4>CHILDREN</h4>
        <table name="checklist-items-children" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-toddlers-div" style="margin-bottom:20px;">
        <h4>TODDLERS</h4>
        <table name="checklist-items-toddlers" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-infants-div" style="margin-bottom:20px;">
        <h4>INFANTS</h4>
        <table name="checklist-items-infants" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-pets-div" style="margin-bottom:20px;">
        <h4>PETS</h4>
        <table name="checklist-items-pets" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div name="checklist-items-custom-div" style="margin-bottom:20px;">
        <h4>CUSTOM</h4>
        <table name="checklist-items-custom" class="table-bordered">
          <thead>
          <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-md-2 text-center">ITEM</th>
            <th class="col-sm-1 text-center">QUANTITY</th>
            <th class="col-sm-1 text-center">UNIT</th>
            <th class="col-md-6 text-center">DESCRIPTION</th>
            <th class="col-md-1 text-center">EXPIRY</th>
            <th class="col-md-1 text-center"></th>
            <th class="col-md-1 text-center"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div class="text-center" style="margin-bottom:20px;">
        <a href="" name="checklist-add-item-link" class="btn btn-success btn-lg">Add an Item</a>
      </div>
    </div>

</div>
{% endblock %}

{% block libraries %}
<script src="/static/js/admin.ui.checklist.index.js"></script>
{% endblock %}
