{% extends "base.html" %}

{% block title %} | Extension: {{ name }}{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="smaller"><a href="{% url 'geokey_checklist:index' %}">{{name}}</a></h1>
            </div>
        </div>

    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

  <div>
    <h3 class="header">SETTINGS</h3>
      <form method="POST" action="{% url 'geokey_checklist:checklist_settings' project.id %}" novalidate>
        {% csrf_token %}

        <div class="form-group">
          <label for="checklistRemindersOn" class="control-label">Reminders On? (required)</label>
          {% if checklist_settings.reminderson == True %}
            <label class="radio-inline"><input type="radio" name="checklistRemindersOn" value="Yes" checked required>Yes</input></label>
            <label class="radio-inline"><input type="radio" name="checklistRemindersOn" value="No" required>No</input></label>
          {% else %}
            <label class="radio-inline"><input type="radio" name="checklistRemindersOn" value="Yes" required>Yes</input></label>
            <label class="radio-inline"><input type="radio" name="checklistRemindersOn" value="No" checked required>No</input></label>
          {% endif %}
        </div>

        <!--div class ="form-group">
          <label for="checklistReminderBeforeExpiration" class="control-label">Reminder Before Items Expire</label>
          <select class="form-control input-lg" name="checklistReminderBeforeExpiration">
            {% for value, key in reminderBeforeExpirationChoices %}
              {% if checklist_settings.frequencybeforeexpiration == value|slugify %}
                <option value="{{value}}" selected>{{key}}</option>
              {% else %}
                <option value="{{value}}">{{key}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div-->

        <div class ="form-group">
          <label for="checklistReminderAfterExpiration" class="control-label">Reminder After Items Expire</label>
          <select class="form-control input-lg" name="checklistReminderAfterExpiration">
            {% for value, label in frequencyExpiredReminderChoices %}
              {% if checklist_settings.frequencyonexpiration == value|slugify %}
                <option value="{{value}}" selected>{{label}}</option>
              {% else %}
                <option value="{{value}}">{{label}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="form-group text-center">
          <button type="submit" name="saveChecklistSettings" class="btn btn-primary">Save</button>
        </div>
    </form>

    <div class="text-center" style="margin-bottom:20px;">
      <a href="{% url 'geokey_checklist:index' %}" name="checklist-cancel" class="btn btn-success btn-lg">Cancel</a>
    </div>

  </div>

</div>
{% endblock %}

{% block libraries %}

{% endblock %}
